In [62]:
from cProfile import label
import matplotlib.pyplot as plt
import csv
import numpy as np
import pandas as pd
from sympy import *
import scipy as sp
import sys
sys.path.append('..')

In [63]:
df = pd.read_csv("in/ee.txt", sep="\s+",skiprows=11, header=None, decimal=",")
df = df.drop(range(257,len(df)))

In [64]:
df = df.drop(df.iloc[:, 6:20],axis = 1)

In [73]:
def get_sec(string):
    m, s = string.split(':')
    return (60*int(m) + int(s))
df["time"] = df[0].apply(get_sec)
df
# type(df[0][1])

        0   1     2     3     4     5  time
0    0:05  25  0.20   3.5  0.17  0.85     5
1    0:10  25  0.29   5.1  0.25  0.85    10
2    0:15  25  0.25   4.4  0.21  0.85    15
3    0:00   0  0.22   3.9  0.19  0.85     0
4    0:04   0  0.27   4.8  0.23  0.85     4
..    ...  ..   ...   ...   ...   ...   ...
252  2:16  25  0.67  11.8  0.80  1.20   136
253  2:19  25  0.70  12.2  0.86  1.23   139
254  2:22  25  0.45   7.9  0.57  1.27   142
255  2:25  25  0.53   9.4  0.69  1.29   145
256  2:27  25  0.50   8.7  0.67  1.34   147

[257 rows x 7 columns]